footer {
  padding: 2rem;
  background-color: #22092b;
  color: #FFF;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 2.5;
}

footer .footer a:any-link {
  color: #FFF;
}